extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Bootstrap theme
	+bootswatch("cerulean")
	// Custom styles for this template
	link(href='../css/theme.css', rel='stylesheet')
	// Custom styles for this template
	link(href='../css/navbar-fixed-top.css', rel='stylesheet')
	link(href='../css/style.css', rel='stylesheet')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(src='/javascripts/contact.js')
append scripts
	script(src='../javascripts/contact.js')
	script(src='../javascripts/guid.js')
	script(src='../javascripts/bitcoinjs.min.js')
	script(src='../javascripts/bip39.js')
	script(src='../javascripts/jsrsasign-latest-all-min.js')
	script(src='../javascripts/sjcl.js')
append body
	// Fixed navbar
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Contacts App
			#navbar.navbar-collapse.collapse
				ul.nav.navbar-nav
					li.active
						a(href='#') Home
	.container
		.row 
			.col-sm-4
				h2 Current Contact
				ul.list-group
					li.list-group-item 
						span First Name: 
						span(id="userFirstName")
					li.list-group-item 
						span Last Name: 
						span(id="userLastName")
					li.list-group-item 
						span Age: 
						span(id="userAge")
					li.list-group-item
						span Guid: 
						span(id="userGuid") 
					li.list-group-item
						span Mail: 
						span(id="userMail")
			.col-sm-8#addUser
				form.form-signin
					h2.form-signin-heading Add Contact
						label.sr-only(for='inputFirstName') First Name
						input#inputFirstName.form-control(type='text', placeholder='First Name', required='true')
						label.sr-only(for='inputLastName') Last Name
						input#inputLastName.form-control(type='text', placeholder='Last Name', required='true')
						label.sr-only(for='inputAge') Last Name
						input#inputAge.form-control(type='text', placeholder='Age', required='true')
						label.sr-only(for='inputEmail') Email address
						input#inputEmail.form-control(type='email', placeholder='Email address', required='true', autofocus='')
						button.btn.btn-lg.btn-primary.btn-block(type='submit' onclick='addContact()') addContact
		.row 
			.col-sm-12
				h2 Contacts List
				#userList
					table(class="table table-striped")
						thead
							tr
								th UserName
								th Email
								th Age
								th Contact Info
								th Delete?
						tbody